
<app-header></app-header>
<div class="container">
    <h3>Editar o eliminar estudiantes</h3>
    <form [formGroup]="editstudent" (ngSubmit)="PostForm(editstudent)">
        <div class="form-group">
            <!-- <label>Id</label>
            <input type="text" class="form-control" placeholder="id Student" formControlName="id"/> -->
            <label>Nombre</label>
            <input type="text" class="form-control" placeholder="Name Student" formControlName="name"/>
            <label>Apellidos</label>
            <input type="text" class="form-control" placeholder="lastName Student" formControlName="lastName"/>
            <label>Fecha</label>
            <input type="date" class="form-control" placeholder="birthDate Student" formControlName="birthDate"/>
          

        </div>

        <br><br>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <br><br>
        <li type="button" class="btn btn-primary" (click)="DeleteStud(editstudent)">Eliminar</li>

    </form>

</div>


<app-footer></app-footer>